body {
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
}


.bug {
    background: #92BC2C;
    box-shadow: 0 0 20px #92BC2C;
}

.dark {
    background: #595761;
    box-shadow: 0 0 20px #595761;
}

.dragon {
    background: #0C69C8;
    box-shadow: 0 0 20px #0C69C8;
}

.electric {
    background: #F2D94E;
    box-shadow: 0 0 20px #F2D94E;
}

.fire {
    background: #FBA54C;
    box-shadow: 0 0 20px #FBA54C;
}

.fairy {
    background: #EE90E6;
    box-shadow: 0 0 20px #EE90E6;
}

.fighting {
    background: #D3425F;
    box-shadow: 0 0 20px #D3425F;
}

.flying {
    background: #A1BBEC;
    box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
    background: #5F6DBC;
    box-shadow: 0 0 20px #5F6DBC;
}

.grass {
    background: #5FBD58;
    box-shadow: 0 0 20px #5FBD58;
}

.ground {
    background: #DA7C4D;
    box-shadow: 0 0 20px #DA7C4D;
}

.ice {
    background: #75D0C1;
    box-shadow: 0 0 20px #75D0C1;
}

.normal {
    background: #A0A29F;
    box-shadow: 0 0 20px #A0A29F;
}

.poison {
    background: #B763CF;
    box-shadow: 0 0 20px #B763CF;
}

.psychic {
    background: #FA8581;
    box-shadow: 0 0 20px #FA8581;
}

.rock {
    background: #C9BB8A;
    box-shadow: 0 0 20px #C9BB8A;
}

.steel {
    background: #5695A3;
    box-shadow: 0 0 20px #5695A3;
}

.water {
    background: #539DDF;
    box-shadow: 0 0 20px #539DDF;
}

.type-disc {
    position: relative;
    padding: 8px;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    clip-path: circle(40%);
}

header {
    display: block;
    padding: 10px;
    text-align: center;
}

header>img {
    padding-block: 10px 20px;
}

article {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    max-inline-size: 100%;
    border-radius: 20px;
    padding: 20px;
    background-color: color-mix(in srgb, var(--md-sys-color-background) 90%, var(--md-sys-color-primary) 10%);
    border: 2px solid var(--md-sys-color-on-primary);
}

article>img {
    z-index: 1;
}

article[data-rank]::before {
    position: absolute;
    content: attr(data-rank);
    font-family: "Roboto", sans-serif;
    color: var(--md-sys-color-primary);
    font-size: 98px;
    inset-inline-start: 0;
    inset-block-start: 0;
    padding: 20px;
    opacity: 0.2;
}

article[data-variant="primal"]:has(img[src*="kyogre"])::after {
    position: absolute;
    content: url("/images/primal-kyogre.png");
    scale: 0.3;
    inset-inline-end: 0;
    inset-block-start: 0;
    transform-origin: 100% 0;
    padding: 50px;
}

article[data-variant="kyogre-primal"]::after {
    position: absolute;
    content: url("/images/primal-kyogre.png");
    scale: 0.3;
    inset-inline-end: 0;
    inset-block-start: 0;
    transform-origin: 100% 0;
    padding: 50px;
}

article[data-variant="primal"]:has(img[src*="kyogre"]) {
    border: 2px solid rgb(67, 223, 243);
}


article[data-variant="primal"]:has(img[src*="groudon"])::after {
    position: absolute;
    content: url("/images/primal-groudon.webp");
    scale: 0.3;
    inset-inline-end: 0;
    inset-block-start: 0;
    transform-origin: 100% 0;
    padding: 50px;
}

article[data-variant="groudon-primal"]::after {
    position: absolute;
    content: url("/images/primal-groudon.webp");
    scale: 0.3;
    inset-inline-end: 0;
    inset-block-start: 0;
    transform-origin: 100% 0;
    padding: 50px;
}

article[data-variant="primal"]:has(img[src*="groudon"]) {
    border: 2px solid rgb(226, 67, 52);
}

article[data-variant="mega"]::after {
    position: absolute;
    content: url("/images/mega.png");
    scale: 0.1;
    inset-inline-end: 0;
    inset-block-start: 0;
    transform-origin: 100% 0;
    padding: 200px;
}

article[data-variant="mega"] {
    border-top-color: rgb(220, 116, 255);
    border-left-color: rgb(54, 228, 234);
    border-right-color: rgb(86, 249, 105);
    border-bottom-color: rgb(251, 251, 87);
}

article[data-variant="shadow"] {
    border: 2px solid rgb(182, 40, 221);
}

article[data-variant="shadow"]::after {
    position: absolute;
    content: url("/images/shadow.png");
    scale: 0.05;
    inset-inline-end: 0;
    inset-block-start: 0;
    transform-origin: 100% 0;
    padding: 360px;
}

article[data-variant="gigantamax"] {
    border: 2px solid rgb(214, 40, 115);
}

article[data-variant="gigantamax"]::after {
    position: absolute;
    content: url("/images/gigantamax.png");
    scale: 0.3;
    inset-inline-end: 0;
    inset-block-start: 0;
    transform-origin: 100% 0;
    padding: 50px;
}

article>h2 {
    text-transform: uppercase;
    color: var(--md-sys-color-primary);
}

div[role="region"],
div[role="region"]>div {
    margin-block: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 10px;
}

h2 {
    font-weight: 500;
}

md-assist-chip {
    border-radius: 16px;
    position: relative;
    text-transform: capitalize;
    margin-inline: 4px;
}

md-assist-chip[data-legacy="true"]::after {
    position: absolute;
    display: flex;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    align-items: center;
    content: "*";
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-primary);
    inset-inline-end: -1.5ch;
    inset-block-start: -7px;
    padding: 6px;
    padding-inline: 8px;
    padding-block-start: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 2;
}

md-assist-chip[data-legacy="true"]:hover::after {
    position: absolute;
    display: flex;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    align-items: center;
    content: "* legacy";
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-primary);
    inset-inline-end: -6.9ch;
    inset-block-start: -7px;
    padding: 6px;
    border-radius: 10px;
    width: unset;
    height: unset;
    z-index: 2;
}